{% extends "base.html" %}
{% block content %}
<form method="POST">
    <div align="center">
    {{ form.hidden_tag() }}
    <br>
    <div class="jumbotron"><!--Form inside a container jumbotron!-->
    <!--Change password forms!-->
    <h1> Change Password!</h1><!--Filling up with black spaces to deal with white sapces, labels and the forms.-->
    <br><br>
    <h5>{{form.password.label}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{form.password()}}</h5><br><br>
    <h5>{{form.npassword.label}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{form.npassword()}}</h5><br><br>
    <h5>{{form.renpassword.label}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{form.renpassword()}}</h5><br><br><br>
    <div align="center">{{form.submit()}}</div>
    </div>
    </div>
</form>
{% endblock %}